<div class="container">
  <p style="color: green"><%= notice %></p>

  <div class="text-center">
    <h2 class="my-10">Your home wherever you are</h2> 
    <p>
      Beautifully designed, fully furnished apartments in São Paulo and Rio de Janeiro to make you feel at home
    </p>
    <div class="row d-flex justify-content-center"> 
      <div class="col-sm-3">
        <select class="form-select" aria-label="Default select example">
          <option selected>Choose an area</option>
          <option value="1">Brasil</option>
          <option value="2">Angola</option>
          <option value="3">Nigéria</option>
        </select>
      </div>
    </div>

    <div class="row my-20">
      <div class="col my-20">
         <p><strong>PREMIUM CHOICE</strong></p> 
         <h4>Living in a Tabas home</h4>
         <p>We offer fully renovated apartments at the best locations in São Paulo and Rio de Janeiro. Ease, comfort and much more.</p>
         <button type="button" class="btn btn-dark">Rent now</button>
      </div>
      <div class="col-sm-3">
        <div class="card my-4">
          <div class="card-img-top img-card my-3">
            <%= image_tag("word nature conservation-200x183.jpg")%>
          </div>
            <h5 class="card-title">Flexible renting</h5>
        </div>
        <div class="card my-4">
          <div class="card-img-top img-card my-3">
            <%= image_tag("word nature conservation-200x183.jpg")%>
          </div>
            <h5 class="card-title">Flexible renting</h5>
        </div>

      </div>
      <div class="col-sm-3">
        <div class="card">
          <div class="card-img-top img-card my-3">
            <%= image_tag("word nature conservation-200x183.jpg")%>
          </div>
            <h5 class="card-title">Flexible renting</h5>
        </div>
         <div class="card my-4">
          <div class="card-img-top img-card my-3">
            <%= image_tag("word nature conservation-200x183.jpg")%>
          </div>
            <h5 class="card-title">Flexible renting</h5>
        </div>

      </div>
    </div>

  </div>
</div>
<div class="blue lighten-5 ">
  
  <div class="container">
    <div class="row">
       <div class="col my-5">
          <div class="my-5"> <p><strong>LANDLORDS</strong></p>  
            <h4>Renting for Tabas</h4>
            <p>Relax and get paid. That simple. We renew, renovate, find quality tenants and all the property management. It’s you worry-free.</p> 
            <button type="button" class="btn btn-dark">Discover more</button>
          </div>
       </div>
       <div class="col my-5">
         <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active ">
              <%= image_tag("house34.png")%>
            </div>
            <div class="carousel-item">
               <%= image_tag("house2.png")%>
            </div>
            <div class="carousel-item">
              <%= image_tag("house22.png")%>
            </div>
          </div>
        </div>
       </div>
    </div>
  </div>
</div>

<div class="container my-8">
  <h2 class="text-center">What living in Tabas looks like</h2>
  <div class="row">
    <div class="col">
     <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <%= image_tag("photo1.png")%>
        </div>
        <div class="carousel-item">
          <%= image_tag("photo2.png")%>
        </div>
        <div class="carousel-item">
          <%= image_tag("photo4.png")%>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    </div>
  </div>
</div>


<h1>Properties</h1>

<div id="properties">
  <% @properties.each do |property| %>
    <%= render property %>
    <p>
      <%= link_to "Show this property", property %>
    </p>
  <% end %>
</div>

<%= link_to "New property", new_property_path %>
