<p style="color: green"><%= notice %></p>

<div class="text-center">
  <h2>Your home wherever you are</h2> 
  <p>
    Beautifully designed, fully furnished apartments in São Paulo and Rio de Janeiro to make you feel at home
  </p>
  <div class="row d-flex justify-content-center"> 
    <div class="col-sm-3">
      <select class="form-select" aria-label="Default select example">
        <option selected>Choose an area</option>
        <option value="1">Brasil</option>
        <option value="2">Angola</option>
        <option value="3">Nigéria</option>
      </select>
    </div>
  </div>

  <div class="row">
    <div class="col">
       <p><strong>PREMIUM CHOICE</strong></p> 
       <h4>Living in a Tabas home</h4>
       <p>We offer fully renovated apartments at the best locations in São Paulo and Rio de Janeiro. Ease, comfort and much more.</p>
    </div>
    <div class="col-sm-4 pink">
      <div class="card ">
        <div class="img">
          <%= image_tag("pacaça.jpeg")%>
        </div>
        <div class="card-body">
          <h5 class="card-title">Flexible renting</h5>
          
        </div>
      </div>

    </div>
    <div class="col-sm-4">
      <div class="card ">
        <div class="card-img-top">
          <%= image_tag("pacaça.jpeg")%>
        </div>
        <div class="card-body">
          <h5 class="card-title">Flexible renting</h5>
          
        </div>
      </div>

    </div>
  </div>

</div>



<h1>Properties</h1>

<div id="properties">
  <% @properties.each do |property| %>
    <%= render property %>
    <p>
      <%= link_to "Show this property", property %>
    </p>
  <% end %>
</div>

<%= link_to "New property", new_property_path %>
