<p style="color: green"><%= notice %></p>



<%= render "properties/images", property: @property %>

<<div class="row d-flex justify-content-center">
  <div class="col-sm-4">
  <%= link_to "Edit this property", edit_property_path(@property), class:"btn btn-info" %> 
  <%= link_to "Back to properties", properties_path, class:"btn btn-warning" %>

  <%= link_to "Destroy this property", @property, method: :delete, class:"btn btn-danger" %>

  </div>
</div>